body {
    background-color: red;
}

.positionzeshit {
    display: grid;
    justify-content: center;
}

.positionzeshit2 {
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
}

.responsive-image {
    width: 100%;
    height: auto;
}